@charset "UTF-8";

body, html {
	height: 100%;
	margin: 0;
	overflow-y: hidden;
}

.safari-bg {
	background-image: url('../images/safari-bg.gif');
	height: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

.middle {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}